/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/


body {
  background-color: teal 
}

.js-answers-wrapper {
  text-align: left;
  max-width: 400px;
  margin: auto;
  background-color: black;
}
.js-answers-wrapper-inner {
  margin-left: 100px;
  padding: 5px;
}

header, main, .imgWrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.hide  {
  display: none;
}
button {
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  
  }


@media all and (min-width: 600px) {
 

 header {
   background-color: black;
 }


}